@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400;500&display=swap');
/* #4B5E57 */
:root{
  --mainGreen: #4B5E57;
  --mainYellow: #F4CE14;
  --bgGray : #EDEFEE;
}
*{
  padding: 0;
  margin: 0;
}

/* Navbar */
header{
  height: 120px;
  max-width: 1024px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  color: #000;
  font-family: Karla;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  text-transform: capitalize;
}
.Header--Navigation ul{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  height: 100%;
}
ul li{
  list-style-type: none;
}
nav ul li a{
  text-decoration: none;
  color: #000;
}

/* Banner */
.banner--section{
  margin-bottom: 45px;
}

/* Reservation section */
.reservation--section{
  max-width: 1024px;
  margin: auto;
}
.main-title{
  color: #F4CE14;
  text-align: center;
  font-family: Karla , sans-serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
}

.sub-title{
  color: #000;
  text-align: center;
  font-family: Markazi;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  margin-top: -20px;
}

.sub-title span {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
}

/* Reservation section > form*/

form{
  max-width: 640px;
  margin: 30px auto;
  display: grid;
  row-gap: 20px;
  /* font */
  color: #000;
  font-family: Karla;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  text-transform: capitalize;
}

form div{
  display: flex;
  justify-content: space-between;
}

form .textArea{
  flex-direction: column;
  gap: 20px;
}

/* Footer */

footer{
  max-width: 1024px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  /* font */
  color: #000;
  font-family: Karla;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  text-transform: capitalize;
  background-color: var(--mainGreen);
}

footer ul li, footer ul li a {
  color: aliceblue;
}

footer h3{
  color: #000;
  margin-bottom: 10px;
}

.footer--Navigation, .footer--contact, .footer--social-Media{
  padding: 4rem 0;
}

/* Humberger Menu */

#menuIcon{
  cursor: pointer;
  position: relative;
  width: 45px;
  display: none;
}
#menuIcon img{
  position:absolute;
  top: -1.5rem;
  z-index: 5;
  width: 100%;
}

/* form inputs */

input , select{
  width: 224px;
  height: 42px;
  border-radius: 5px;
  background-color: var(--bgGray);
  outline: none;
  border: none;
  text-align: center;
  /* font */
  color: #4B5E57;
  font-family: Karla;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  /* shadow */
  box-shadow: 0px 2.44px 2.44px 0px rgba(0, 0, 0, 0.25);
}

textarea{
  border-radius: 5px;
  width: 628px;
  height: 107px;
  padding: 10px;
  outline: none;
  border: 1px solid #000;
  background: rgba(255, 254, 254, 0.00);
}

/* inputs >> buttons */

.btn{
  width: 200px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #F4CE14;
/* remove default */
  border: none;
  outline: none;
  /* font */
  color: #000;
  text-align: center;
  font-family: Karla;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  /* position */
  justify-self: center;
  align-self: center;
  cursor: pointer;
}

.btn:hover, .btn:hover{
  background: #495E57;
  color: white;
}

/* Responsivity */
header, footer, form{
  padding: 0 25px;
}

@media only screen and (max-width: 800px) {
  .Header--Navigation{
    display: none;
  }
  .isOpen{
    display: block;
    position: absolute;
    z-index: 2;
    background-color: aliceblue;
    height: 100vh;
    width: 80vw;
    top:-60px;
    right: -50px;
  }
  .isOpen ul{
    flex-direction: column;
  }
  #menuIcon{
    display: block;
  }

  footer{
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-bottom: 45px;
  }
  .footer--Navigation, .footer--contact, .footer--social-Media{
    padding: 1rem 0;
    width: 60%;
  }
}